<ul class="list-group row">
  <% documents.each do |document| %>
    <li class="list-group-item col-xs-6 col-md-3 thumbnail document-thumbnail">
      <%= link_to image_tag(document.document.url(:thumb), alt: document.name, class: 'img-rounded'), document_path(document.id) %>
    </li>
  <% end %>
</ul>
