<% documents.each_slice(5) do |shelf| %>
<ul class="list-group row col-xs-offset-1">
  <% shelf.each do |document| %>
    <li class="list-group-item col-xs-2 thumbnail">
      <%= link_to image_tag(document.document.url(:thumb), alt: document.name, class: 'img-rounded'), document_path(document.id) %>
    </li>
  <% end %>
</ul>
<% end %>
